* {
    color: whitesmoke;
    font-family: 'Lota', sans-serif;
}    
body {
    background-image: url(https://www.berjayahotel.com/sites/default/files/colombo_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*position*/
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    min-width: 2000px;
    min-height: 100%;
}

.border {
    position: fixed;
    top: 75px;
    left: 400px;
    width: 500px;
    height: 350px;
    padding: 40px;
    border-radius: 50px;
    background: rgba(8, 8, 8, 0.377);

}

h1 {
    color: whitesmoke;
    font-family: Georgia;
}

p {
    font-size: 18px;
}

.username {
    font-size: 20px;    
}

.form input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: blue;
    background: none;
}

.textarea {
    display: block;
    border-radius: 30px;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
}

::-webkit-input-placeholder {
    color: white;
 }

 .signin-btn {
    width: 150px;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: #b6a169;
    color: white;
    margin: 5px;
  position: absolute;
  top: 75%;
  left: 60%;
    
}

.form svg {
    height: 25px;
    margin-bottom: -7px;
    margin-left: 10px;
    margin-right: 5px;

}