* {
    font-family: Georgia;
    color: white;
}

body {
    background-image: url(https://www.berjayahotel.com/sites/default/files/colombo_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /*position*/
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: auto;

    min-width: 2000px;
    min-height: 100%;
}
.administrator {
    width: 300px;
    height: 1000px;
    top: 0px;
    left: 0px;
    margin:-8px;
    background-color: #c9c0a5;
    text-align: center;
    
}

.svg {
    height: 100px;
    margin-top: 10vh;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(105deg) brightness(113%) contrast(108%);    
}

input[type='radio']{
    display:none;
}
 
.greet {
     font-size: 20px;
     font-weight: bold;
     color: whitesmoke;
 
 }

.administrator label {
    font-size: 20px;
    font-weight: normal;
    color: whitesmoke;
    display: block;
    padding-top: 10px;
    margin-top: 2.5vh;
}

.logout {
    font-size: 20px;
    font-weight: normal;
    color: whitesmoke;
    display: block;
    padding-top: 10px;
    margin-top: 2.5vh;
}
#pic {
    
    position: fixed;
    left: 50px;
    top: 500px;
    height: 100px;
}

.content {
    position: fixed;
    top: 0%;
    left: 300px;
    width: 1500px;
    height: 100vh;
    padding: 40px;
    background: rgba(85, 85, 85, 0.377);
    display: none;

}
.button:checked + .label {
    font-weight: bold;
    color: #b3912c;
}

.button:checked + .label+ .content {
    display:block;

}
table {
    position: absolute;
    padding:20px;
    width: 950px;
}
.tabler {
    position: absolute;
    padding:20px;
    width: 1150px;
}

.table {

    position: fixed;
    top: 32%;
    left: 25%;
    width: 70%;
    height: 60%;
    border: 2px solid white;
    overflow: scroll;
}

td, th {
    border-bottom: 1px solid white;
    margin:50px;
}

tr {
    line-height: 8vh;
}

.guest {
    font-size: 46px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 5%;
}

a {
    text-decoration: none;
}
.edit, .delete {
    margin: 3px;
    border-radius: 8px;

}

.edit {
    background-color:#0171d3;
    padding: 5px 25px;

}

.delete {
    background-color: #c00000;
    padding: 5px 20px;
}

.add {
    font-size: 24px;
    position:fixed;
    top:140px;
    left: 1200px;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #cabc90;
}
/*PO UP*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.397);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.wrapper {
    margin: 70px auto;
    padding: 10px;
    background:rgb(43, 43, 43);
    border-radius: 5px;
    width: 35%;
    height: 68%;
    position: relative;
    top: 3%;
    transition: all 5s ease-in-out;
}

.wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
}

h4 {
    top: -20%;
    font-weight: 600;
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
}

form label {
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: 1px;
    float: left;
  width: 110px;
  line-height: 35px;
  padding-left: 50px;
}
input[type=text], [type=number], [type=date] {

    padding: 10px;
    border-radius: 5px;
    width: 40%;
    border: 1px solid white;
    float: right;
    color: black;
    

}

input[type="submit"] {
    margin: 30px;
    float:right;
    background-color: #b6a169;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.box{
	width: auto;
    padding-right: 50px;
    padding-bottom: 5px;
	height: 35px;
	margin-top: 10px;
	font-family: verdana;
	font-size: 12px;
}